@model IEnumerable<testLogin.Models.tableObject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.xcoord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ycoord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorplanID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.xcoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ycoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorplanID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tableObjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.tableObjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tableObjectID })
        </td>
    </tr>
}

</table>
