@model testLogin.Models.Floorplan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Floorplan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numObjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numObjects)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FloorplanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
