@model IEnumerable<testLogin.Models.Floorplan>

@{
    ViewBag.Title = "Floorplan";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#createButton').click(function () {
                    window.location.href = "/Floorplans/Create";
                }

            );
        });
    </script>

}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align:center">
        <h2>MAKE YOUR OWN FLOORPLAN</h2>
        <p>
            At B-OurGuest, we give you the ability to create and maintain your own floorplan easily.
            Changes are instant, across the website, database and mobile application.
        </p>
        <button class="btn btn-info" id="createButton">Create a new floorplan</button>
    </div>
    <div class="col-md-4"></div>
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.planName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numObjects)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.planName)
            </td>
            <td>
                @if (item.active)
                {
                    <span class="label label-success">Yes</span>
                }
                else
                {
                    <span class="label label-warning">No</span>
                }
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.numObjects)
            </td>
            <td>
                <div class="btn-group" role="group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { id = "editButton", @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </div>
            </td>
        </tr>
    }

</table>
