@model IEnumerable<testLogin.Models.Floorplan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tableHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tableWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tableObjects)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tableHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tableWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tableObjects)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
