@model testLogin.Models.Bookings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numTables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numTables)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
