@model testLogin.Models.Bookings

@{
    ViewBag.Title = "Edit";
}
<!-- jQuery UI CSS Reference -->
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" media="all"
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" />
@section Scripts{
    <!-- Code to wire up your DatePicker -->
    <script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy',
            mindate: new Date(yyyy, mm - 1, dd),
            onSelect: function (dateText, inst) {
                var date = $(this).datepicker('getDate'),
                    day = date.getDate(),
                    month = date.getMonth(),
                    year = date.getFullYear();
                var dayElem = document.getElementById('day');
                dayElem.value = day;
                var monthElem = document.getElementById('month');
                monthElem.value = month;
                var yearElem = document.getElementById('year');
                yearElem.value = year;
            }
        });
    })
    </script>
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Edit</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Edit a Reservation</h4>
                <p>You can make changes to any reservation using this page, simply change any details and click Save.</p>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.userID)
                @Html.HiddenFor(model => model.restID)
                @Html.HiddenFor(model => model.day)
                @Html.HiddenFor(model => model.month)
                @Html.HiddenFor(model => model.year)


                <div class="form-group">
                    @Html.LabelFor(model => model.numTables, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.numTables, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numTables, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.numPeople, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.numPeople, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numPeople, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">
                        Date
                    </label>
                    <div class="col-md-10">
                        <input type="text" name="Date" id="Date" class="date-picker form-control" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.time, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Back to List", "Index", new { id = "backButton" }, new { @class = "btn btn-primary" })
                        <input type="submit" value="Save" class="btn btn-success" />

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4"></div>
</div>

