@model testLogin.Models.Restaurant

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div>
            <h2>Details</h2>
            <h4>Restaurant</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.restaurantName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.restaurantName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.longitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.wheelchair)
                </dt>

                <dd>
                    @if (Model.wheelchair)
                    {
                        <span class="label label-success">Yes</span>
                    }
                    else
                    {
                        <span class="label label-danger">No</span>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.vegan)
                </dt>

                <dd>
                    @if (Model.vegan)
                    {
                        <span class="label label-success">Yes</span>
                    }
                    else
                    {
                        <span class="label label-danger">No</span>
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.wifi)
                </dt>
                <dd>
                    @if (Model.wifi)
                    {
                        <span class="label label-success">Yes</span>
                    }
                    else
                    {
                        <span class="label label-danger">No</span>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.type1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.type1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.type2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.type2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.type3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.type3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.bio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.bio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.openClose)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.openClose)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.phoneNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phoneNum)
                </dd>

            </dl>
        </div>



        <p>
            <div class="btn-group" role="group">
                @Html.ActionLink("Back to List", "Index", new { id = "backButton" }, new { @class = "btn btn-info" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { id = "editButton", @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.id }, new { @class = "btn btn-danger" })
            </div>
        </p>

    </div>
    <div class="col-md-4"></div>
</div>



