@using testLogin.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link type="text/css"  rel="stylesheet" href="~/Content/animate.css">
    <link href='//fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - B-OurGuest</title>
    @*@Styles.Render("~/bundles/CSSBundle")*@
    @Styles.Render("~/Content/font-awesome.css")
    @{
        var theme = Session["CssTheme"] as string ?? Bootstrap.Theme.Darkly;
    }
    @Styles.Render(Bootstrap.Bundle(theme))
    @Scripts.Render("~/bundles/modernizr")

</head>
<body onload="REDIPS.drag.init()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("B-OurGuest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        <a href="" role="menu" data-toggle="dropdown">Restaurants <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Restaurants">Restaurant Management</a></li>
                            <li><a href="/Floorplans">Floorplans</a></li>
                            <li><a href="Bookings">Booking Management</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <div style="text-align:right">
                <p>&copy; @DateTime.Now.Year - B-OurGuest</p>
                <p>Find this project, and our Android application on <a href="https://github.com/DarkNormal/prototypeBourGuest">Github!</a></p>
                <p>Proudly developed by <a href="https://twitter.com/MarkLordan">Mark Lordan</a>, <a href="https://www.linkedin.com/profile/view?id=229641088">Robert Kenny</a> and <a href="https://www.linkedin.com/profile/view?id=229641990">Thomas Murphy</a> .</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/table.js")
    @Scripts.Render("~/Scripts/animate-effects.js")
    @Scripts.Render("~/Scripts/redips-drag-min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
