@using testLogin.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - B-OurGuest</title>
    @*@Styles.Render("~/bundles/CSSBundle")*@
    @Styles.Render("~/Content/font-awesome.css")
    @{
        var theme = Session["CssTheme"] as string ?? Bootstrap.Theme.Darkly;
    }
    @Styles.Render(Bootstrap.Bundle(theme))
    @Scripts.Render("~/bundles/modernizr")

</head>
<body onload="REDIPS.drag.init()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("B-OurGuest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Floorplan", "Index", "Floorplans")</li>
                    <li>@Html.ActionLink("Restaurant", "Index", "Restaurants")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - B-OurGuest</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/table.js")
    @Scripts.Render("~/Scripts/redips-drag-min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
